<section class="section">
    <div class="container">
        <h2 class="visually-hidden">Contacts</h2>
        <ul class="contacts__list">
            <li class="contacts__item">
                <p class="contacts__category">Cafe</p>
                <div class="contacts__place">
                    <p class="contacts__place-city">Chicago</p>
                    <p class="contacts__place-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <ul class="contacts__work-time">
                    <li class="contacts__weekdays">
                        <p class="contacts__weekdays-days">Monday - Friday</p>
                        <p class="contacts__weekdays-time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts__weekends">
                        <p class="contacts__weekends-days">Saturday - Sunday</p>
                        <p class="contacts__weekends-time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <ul class="contacts__tel-mail">
                    <li class="contacts__tel-mail-list">
                        <a href="tel:+61(0) 383 766 284" class="contacts__tel">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a href="mailto:noreply@envato.com" class="contacts__mail">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts__item">
                <p class="contacts__category">Foodtruck</p>
                <div class="contacts__place">
                    <p class="contacts__place-city">Los Angeles</p>
                    <p class="contacts__place-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <ul class="contacts__work-time">
                    <li class="contacts__weekdays">
                        <p class="contacts__weekdays-days">Monday - Friday</p>
                        <p class="contacts__weekdays-time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts__weekends">
                        <p class="contacts__weekends-days">Saturday - Sunday</p>
                        <p class="contacts__weekends-time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <ul class="contacts__tel-mail">
                    <li class="contacts__tel-mail-list">
                        <a href="tel:+61(0) 383 766 284" class="contacts__tel">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a href="mailto:noreply@envato.com" class="contacts__mail">noreply@envato.com</a>
                    </li>
                </ul>
            </li>

            <li class="contacts__item">
                <p class="contacts__category">Cafe</p>
                <div class="contacts__place">
                    <p class="contacts__place-city">New York</p>
                    <p class="contacts__place-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <ul class="contacts__work-time">
                    <li class="contacts__weekdays">
                        <p class="contacts__weekdays-days">Monday - Friday</p>
                        <p class="contacts__weekdays-time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts__weekends">
                        <p class="contacts__weekends-days">Saturday - Sunday</p>
                        <p class="contacts__weekends-time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <ul class="contacts__tel-mail">
                    <li class="contacts__tel-mail-list">
                        <a href="tel:+61(0) 383 766 284" class="contacts__tel">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a href="mailto:noreply@envato.com" class="contacts__mail">noreply@envato.com</a>
                    </li>
                </ul>
            </li>

        </ul>
        <buttom type="bu"

    </div>
</section>