<section class="section-customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <div class="slider">
      <div class="slider__item">
        <div class="slider__img img1"></div>
        <div class="comment">
          <div class="comment-box">
            <p class="comment-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <h3 class="slider__title">Emily, Los Angeles</h3>
      </div>

      <div class="slider__item">
        <div class="slider__img img2"></div>
        <div class="comment">
          <div class="comment-box">
            <p class="comment-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <h3 class="slider__title">Emily, Los Angeles</h3>
      </div>

      <div class="slider__item">
        <div class="slider__img img3"></div>
        <div class="comment">
          <div class="comment-box">
            <p class="comment-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <h3 class="slider__title">Emily, Los Angeles</h3>
      </div>
    </div>
  </div>
</section>
