<header class="page-header">
  <div class="container container--flex">
    <nav class="navigation">
      <a class="page-header__logo" href="#">
        <img src="#" alt="Логотип" />
      </a>
    </nav>
    <button class="mob-menu" type="button">
      <svg class="mob-menu__icon" width="20" height="12">
        <use></use>
      </svg>
    </button>
  </div>
</header>

<section class="hero hero--background">
  <div class="container">
    <h1 class="hero__title">ice cream made with <span class="hero__title--size">passion</span></h1>
    <a class="hero__link" href="#">
      <button class="hero__btn hero__btn--color-pink" type="button">Products</button>
    </a>
    <a class="hero__link" href="#">
      <button class="hero__btn hero__btn--color-white" type="button">How it’s made?</button>
    </a>
  </div>
</section>
