<div class="mobile-menu">
    <button class="mobile-menu__button-close">
        <svg class="mobile-menu__icon-close" width="" height="">
            <use href=""></use>
        </svg>
    </button>
    <button class="mobile-menu__button" type="submit">
        <svg class="mobile-menu__icon" width="10" height="20">
            <use href="./imeges/sprite.svg#icon-arrow"></use>
        </svg>
    </button>
    <ul class="mobile-menu__list">
        <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="">Home</a>
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#about">About us</a>
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#how it’s made?">How it’s made?</a>
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#produkts">Our products</a>
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#contact">Contact</a>
        </li>
    </ul>
</div>