<section class="products-section" id="products">
  <div class="container">
    <div class="products">
      <p class="products-subtitle">100% natural</p>
      <h2 class="products-caption">products</h2>
      <ul class="products-list">
        <li class="products-link ice">
          <picture>
            <source
              srcset="./images/desktop/products1-1x.png 1x, ./images/desktop/products1-2x.png 2x"
              media="(min-width: 1200px)"
            />
            <source
              srcset="./images/tablet/products1-1x.png 1x, ./images/desktop/products1-2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/mobile/products1-1x.png 1x, ./images/desktop/products1-2x.png 2x"
              media="(min-width: 320px)"
            />
            <img
              class="products__img"
              srs="./images/mobile/products1-1x.png"
              alt="ice cream"
              width="249"
              height="252"
            />
          </picture>

          <h3 class="products-link-title">ice cream</h3>
          <p class="products-link-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="products-button" type="button" data-modal-open-products>
            <svg class="products-icon" width="15" height="15">
              <use href="./images/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </li>

        <li class="products-link coffee">
          <picture>
            <source
              srcset="./images/desktop/products2-1x.png 1x, ./images/desktop/products2-2x.png 2x"
              media="(min-width: 1200px)"
            />
            <source
              srcset="./images/tablet/products2-1x.png 1x, ./images/desktop/products2-2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/mobile/products2-1x.png 1x, ./images/desktop/products2-2x.png 2x"
              media="(min-width: 320px)"
            />
            <img
              class="products__img"
              srs="./images/mobile/products2-1x.png"
              alt="ice coffee"
              width="249"
              height="252"
            />
          </picture>
          <h3 class="products-link-title">ice coffee</h3>
          <p class="products-link-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="products-button" type="button" data-modal-open-products-2>
            <svg class="products-icon" width="15" height="15">
              <use href="./images/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </li>

        <li class="products-link milkshakes">
          <picture>
            <source
              srcset="./images/desktop/products3-1x.png 1x, ./images/desktop/products3-2x.png 2x"
              media="(min-width: 1200px)"
            />
            <source
              srcset="./images/tablet/products3-1x.png 1x, ./images/desktop/products3-2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/mobile/products3-1x.png 1x, ./images/desktop/products3-2x.png 2x"
              media="(min-width: 320px)"
            />
            <img
              class="products__img"
              srs="./images/mobile/products3-1x.png"
              alt="milkshakes"
              width="249"
              height="252"
            />
          </picture>
          <h3 class="products-link-title">milkshakes</h3>
          <p class="products-link-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="products-button" type="button" data-modal-open-products-3>
            <svg class="products-icon" width="15" height="15">
              <use href="./images/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
