<section class="section section--background">
  <div class="container">
    <p class="subtitle">100% natural</p>
    <h2 class="caption">products</h2>
    <ul>
      <li>
        <picture>
          <source srcset="1x, 2x" media="(min-width: 1280px)" />
          <source srcset="1x, 2x" media="(min-width: 768px)" />
          <source srcset="1x, 2x" media="(max-width: 767px)" />
          <img src="" alt="ice cream" />
        </picture>
        <div class="ice__wrapper"></div>
        <h2 class="title">ice cream</h2>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      </li>
      <li></li>
      <li></li>
    </ul>
  </div>
</section>
