.about {
  background-color: $third-accent;
  padding-top: 125px;
  padding-bottom: 39px;
  @media screen and (min-width: 768px) {
    padding-top: 130px;
    padding-bottom: 66px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 125px;
    padding-bottom: 146px;
  }
  &__text {
    color: $secondary-accent;
    font-family: Titan One;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.15;
      margin-bottom: 16px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 30px;
      line-height: 1.13;
      margin-bottom: 15px;
      letter-spacing: 0.04em;
    }
  }

  &__title {
    color: $main-accent;
    font-family: Titan One;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 26px;
    @media screen and (min-width: 768px) {
      font-size: 48px;
      margin-bottom: 50px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 58px;
      margin-bottom: 55px;
    }
  }
  // Готово к этому моменту

  &__second-text {
    color: $primary-color;
    font-family: DM Sans;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    margin-bottom: 47px;
  }

  &__third-text {
    color: $text-color;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    margin-bottom: 47px;
  }
}

.about__button {
  background-color: #ffffff;
  color: $main-accent;
  width: 176px;
  height: 44px;
  border-radius: 22px;
  border-color: transparent;
  font-family: DM Sans;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  align-items: center;
  text-align: center;
}
