.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

// .gallery_container{
//   background-image:linear-gradient(var($secondary-accent 50%),
//   var($third-accent 50%));

// }
.gallery__section {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  background-image: linear-gradient(to bottom, #fff5f6 50%, #ffffff 50%);
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(to bottom, #fff5f6 45%, #ffffff 45%);
  }
}
