.page-header--background {
  background-color: #ffb8ca;
}

.container--flex {
  display: flex;
  align-items: center;
}

.navigation {
  padding-top: 6px;
  @media screen and (min-width: 768px) {
    padding-top: 37px;
  }
}

.page-header__logo {
  display: inline-block;
}

.mob-menu {
  padding: 0;
  margin-left: auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.hero {
  padding-top: 135px;
  padding-bottom: 160px;
  @media screen and (min-width: 768px) {
    padding-top: 15px;
    padding-bottom: 168px;
  }
}

.hero--background {
  background-color: #ffb8ca;
}

.wrap-ellipse {
  position: absolute;
  top: 83px;
  right: 0;
  @media screen and (min-width: 768px) {
    top: 31px;
    right: 137px;
  }
}

.wrap-ice {
  position: absolute;
  top: 92px;
  right: 32px;
  @media screen and (min-width: 768px) {
    top: 63px;
    right: 247px;
  }
}

.wrap-girl {
  position: absolute;
  top: 266px;
  right: 34px;
}

.hero__title {
  position: relative;
  margin-bottom: 20px;
  max-width: 225px;
  font-family: Titan One;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    max-width: 162px;
    font-size: 22px;
    line-height: 1.14;
  }

  &--size {
    font-size: 48px;
    line-height: 0.96;
    color: $main-accent;
    @media screen and (min-width: 768px) {
      font-size: 34px;
      line-height: 0.91;
    }
  }
}

.button {
  position: relative;
  display: flex;

  &__item:not(:last-child) {
    margin-right: 8px;
  }
}

.button__link {
  display: inline-flex;
  padding: 7px 13px;
  font-family: DM Sans;
  font-size: 8px;
  line-height: 1.25;
  border-radius: 20px;

  &--pink {
    color: #ffffff;
    background-color: $main-accent;

    &:hover,
    &:focus {
      background-color: #c7133e;
    }
  }

  &--white {
    color: $main-accent;
    background-color: #ffffff;

    &:hover,
    &:focus {
      background-color: #ecebeb;
    }
  }
}
