.page-header {
  padding-top: 6px;

  @media screen and (min-width: 768px) {
    padding-top: 37px;
  }
}

.page-header--background {
  background-color: #ffb8ca;
}

.container--flex {
  display: flex;
  align-items: center;
}

.page-header__logo {
  display: inline-block;
}

.mob-menu {
  z-index: 2;
  padding: 0;
  margin-left: auto;
  width: 30px;
  height: 30px;
  color: $main-accent;
  background-color: transparent;
  border-style: unset;
  cursor: pointer;

  &__icon {
    fill: currentColor;
  }
}

.button-buy {
  z-index: 1;
  display: none;
  padding: 12px 41px;
  margin-left: 30px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: $main-accent;
  border-style: unset;
  background-color: #ffffff;
  border-radius: 22px;
  transition: background-color 250ms linear;

  @media screen and (min-width: 768px) {
    display: unset;
  }

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}

.hero {
  padding-top: 135px;
  padding-bottom: 160px;

  @media screen and (min-width: 768px) {
    padding-top: 15px;
    padding-bottom: 168px;
    background-image: url(../images/tablet/number16-1x.png), url(../images/tablet/number23-1x.png);
    background-repeat: no-repeat;
    background-position: right 34px bottom 261px, right 34px bottom 205px;
  }
}

.hero--background {
  background-color: #ffb8ca;
}

.wrap-ellipse {
  position: absolute;
  top: 83px;
  right: 0;

  @media screen and (min-width: 768px) {
    top: 31px;
    right: 143px;
  }
}

.wrap-ice {
  position: absolute;
  top: 92px;
  right: 32px;

  @media screen and (min-width: 768px) {
    top: 63px;
    right: 247px;
  }
}

.wrap-girl {
  display: none;
  position: absolute;
  top: 266px;
  right: 34px;

  @media screen and (min-width: 768px) {
    display: unset;
  }
}

.wrap-milk {
  display: none;
  position: absolute;
  top: 245px;
  left: 34px;

  @media screen and (min-width: 768px) {
    display: unset;
  }
}

.wrap-milk__text {
  position: absolute;
  top: 292px;
  left: 154px;
  display: none;
  width: 114px;
  font-family: DM Sans;
  font-size: 8px;
  line-height: 1.5;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    display: unset;
  }
}

.button-slider {
  position: absolute;
  top: 347px;
  left: 154px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  padding: 0;
  color: $main-accent;
  border-style: unset;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  &__icon {
    fill: currentColor;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.hero__title {
  position: relative;
  margin-bottom: 20px;
  max-width: 225px;
  font-family: Titan One;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    max-width: 162px;
    font-size: 22px;
    line-height: 1.14;
  }

  &--size {
    font-size: 48px;
    line-height: 0.96;
    color: $main-accent;

    @media screen and (min-width: 768px) {
      font-size: 34px;
      line-height: 0.91;
    }
  }
}

.button {
  position: relative;
  display: flex;

  &__item:not(:last-child) {
    margin-right: 8px;
  }
}

.button__link {
  display: inline-flex;
  padding: 7px 13px;
  font-family: DM Sans;
  font-size: 8px;
  line-height: 1.25;
  border-radius: 20px;
  transition: background-color 250ms linear;

  &--pink {
    color: #ffffff;
    background-color: $main-accent;

    &:hover,
    &:focus {
      background-color: #c7133e;
    }
  }

  &--white {
    color: $main-accent;
    background-color: #ffffff;

    &:hover,
    &:focus {
      background-color: #ecebeb;
    }
  }
}
