.mobile-menu {
  position: fixed;
  background-color: #e17992;
  width: 250px;
  height: 100vh;
  top: 0;
  left: 0;

  width: 250px;
  height: 100vh;
  padding: 24px 24px;
  z-index: 1;
}
.mobile-menu__button {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  text-align: center;

  min-width: 209px;
  height: 44px;
  color: #d41443;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31px;
  margin-bottom: 32px;
  &:focus,
  &:hover {
    background-color: #ecebeb;
  }
}
.mobile-menu__link {
  color: #ffffff;
  padding: 12px 0 12px 0;
  &::after,
  &::before {
    content: ' ';
    border: 1px solid #e18298;
  }

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.83;
  &:hover,
  &:focus {
    color: #d41443;
  }
}

/*.mobile-menu__item {
  &:not(:last-child) {
    margin-bottom: 23px;
  }
}*/
// Кнопка закрытия
.mobile-menu__button-close {
  background-color: inherit;
  border: none;
  display: flex;
  margin-left: auto;
  margin-bottom: 23px;
}

.mobile-menu__icon {
  margin-left: 8px;
  fill: #d41443;
}
