.products {
  text-align: center;

  &-section {
    padding-top: 121px;
    padding-bottom: 98px;

    @media screen and (min-width: 768px) {
      padding-top: 122px;
      padding-bottom: 112px;
    }
    @media screen and (min-width: 1280px) {
      padding-top: 127px;
      padding-bottom: 119px;
    }
  }

  &-subtitle {
    font-family: Titan One;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: $secondary-accent;

    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.15;
    }
    @media screen and (min-width: 1280px) {
      font-size: 30px;
      line-height: 1.13;
    }
  }

  &-caption {
    font-family: Titan One;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $main-accent;
    margin-top: 15px;
    @media screen and (min-width: 768px) {
      font-size: 48px;
      line-height: 1.15;
    }
    @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: 1.14;
    }
  }

  &-list {
    margin-top: 31px;
    @media screen and (min-width: 768px) {
      margin-top: 39px;
      display: flex;
      justify-content: space-between;
    }
    @media screen and (min-width: 1280px) {
      margin-top: 49px;
    }
  }

  &-link {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 280px;
    padding: 0 40px 41px;

    border-radius: 24px;
    margin-bottom: 16px;
    @media screen and (min-width: 768px) {
      width: 220px;
      padding: 0 11px 40px;
      margin-bottom: 0px;
    }
    @media screen and (min-width: 1280px) {
      width: 335px;
      padding: 0 44px 50px;
      margin-bottom: 0px;
    }

    &:last-child {
      margin-bottom: 0px;
    }

    &-title {
      margin-bottom: 30px;
      font-family: Titan One;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.15;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #fff;
      @media screen and (min-width: 1280px) {
        font-size: 30px;
        line-height: 1.13;
      }

      &::after {
        content: '...';
        display: block;
        margin: 0 auto;
        margin-top: 20px;
      }
    }

    &-text {
      font-family: DM Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 1.52;
      text-align: center;
      letter-spacing: 0.04em;
      color: #fff;
      @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.76;
      }
      @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.76;
      }
    }
  }

  &-image {
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    width: 249px;
    transform: translate(-50%);
    @media screen and (min-width: 768px) {
      top: 0;
      left: 50%;
      width: 220px;
      transform: translate(-50%);
    }
    @media screen and (min-width: 1280px) {
      top: 0;
      left: 50%;
      width: 335px;
      transform: translate(-50%);
    }
  }

  &-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    margin-top: 30px;

    @media screen and (min-width: 768px) {
      margin-top: 40px;
      margin-bottom: 40px;
    }
    @media screen and (min-width: 1280px) {
      margin-top: 62px;
      margin-bottom: 50px;
    }

    &:hover {
      transition: background-color 300ms linear;
      background-color: $main-accent;
      cursor: pointer;
    }

    &:focus {
      transition: background-color 300ms linear;
      background-color: $main-accent;
      cursor: pointer;
    }

    &:hover .products-icon {
      transition: fill 300ms linear;
      fill: #fff;
    }

    &:focus .products-icon {
      transition: fill 300ms linear;
      fill: #fff;
    }
  }

  &-icon {
    fill: $main-accent;
    margin: 0;
    padding: 0;
  }
}
// .list-link::before {
//   margin-top: 16px;
//   background-image: url(./images/desktop/about-bg-1x.png);
// }
.ice {
  background-color: #ffb8ca;
}

.coffee {
  background-color: #f0d1a5;
}

.milkshakes {
  background-color: #c2e297;
}
